// Colors
:root {
    --red: rgb(165, 0, 36);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --kofi1: rgb(255, 90, 22);
    --kofi2: rgb(204, 61, 0);

    --bluesky1: rgb(0, 133, 255);
    --bluesky2: rgb(0, 91, 175);

    --twitch1: rgb(169, 112, 255);
    --twitch2: rgb(97, 31, 196);

    --throne1: rgb(182, 20, 217);
    --throne2: rgb(121, 1, 148);

    --youtube1: rgb(255, 0, 51);
    --youtube2: rgb(151, 0, 30);

}